#header_title_content{
    width: 100%;
    height: 70vh;
    background-image: url("images/fond-cuges.jpg");
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    background-position: top;
    text-align: center; 
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.stickyMemberMod{
    padding-top: 10vh;
}
#members{
    display: flex;
    justify-content: space-around;
    margin: 3%;
    
}
#EventsBlock{
    width: 80%;
    margin: auto;
}
#shortEventsBlock{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
.Events{
   width: 30%; 
}
.Events #texteEvents{
   margin-top: 20vh;
   margin-left: 20px;
   margin-bottom: 20px;
}
.Events h5{
    margin-top: -10px;
}




footer{
    margin-top:3%;
    background-color: rgb(250, 250, 250);
}