*{
    text-decoration: none;
    font-weight: 300;
}
a{
    color: rgb(124, 140, 102);
    text-decoration: none;
}
a:hover{
    color: rgb(124, 140, 102);
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.stickyMemberMod{
    padding-top: 10vh;
}
#members{
    display: flex;
    justify-content: space-around;
    margin: 3%;
    
}
#EventsBlock{
    width: 80%;
    margin: auto;
}
#shortEventsBlock{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
.Events{
   width: 30%; 
   color: white;
   background-size: content;
}
.Events #texteEvents{
   width: 100%;
   margin-top: 20vh;
   margin-left: 20px;
   margin-bottom: 20px;
   text-align: left;
   margin-left: -0px;
}
.Events #h5{
    margin-top: -25px;
    margin-bottom: -10px;
    color: white;
}
.Events h2{
    color: white;
}

