<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Cuges les Pins</h6>
              <p>Cuges-les-Pins est une commune française, 
                  située dans le département des Bouches-du-Rhône en région Provence-Alpes-Côte d'Azur</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-3 font-weight-bold">Utiles</h6>
                <p>
                    <a href="#!">Acceuil</a>
                </p>
                <p>
                    <a href="#!">Evenements</a>
                </p>
                <p>
                    <a href="#!">Associations</a>
                </p>
                <p>
                    <a href="#!">Membres</a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <a href="/contact.html"><h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6></a>
                <p>
                   Cuges les Pins, 13780, France</p>
                <p>
                  accueil@cugeslespins.fr</p>
                <p>
                  04 42 73 80 11</p>

               
            </div>
            <!-- Grid column -->
            
            <!--Google map-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 20vh">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46472.42555742552!2d5.67494156882485!3d43.28229265860811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9a0bf94546175%3A0x40819a5fd9703b0!2sCuges-les-Pins!5e0!3m2!1sfr!2sfr!4v1568877972032!5m2!1sfr!2sfr" 
                    width="260" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            <!--Google Maps-->
        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                  <a href="http://www.cuges-les-pins.fr/cuges/cms/10-92/accueil.dhtml">
                    <strong> Cuges les Pins</strong>
                  </a>
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->